html {
  height: 100%; /* force root element to be 100% of viewport height */
}

body {
  width: 100%;
  height: inherit;
  /* force body width and height to be 100% of viewport height */
  
  margin: 0;
  /* remove default margins from body element */
  
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* set children of body element (i.e. the div) to be laid out as a flexbox, and centered vertically and horizontally in the available space */

background-color: aqua;

}

